<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <context:annotation-config/>
    <context:property-placeholder location="classpath:db-info.properties"></context:property-placeholder>
    <bean id = "sim" class = "com.rish.spring.simImpl.Airtel"></bean>
    <bean id = "service" class="com.rish.spring.serviceImpl.DataService"></bean>
    <bean id = "airtelSim" class="com.rish.spring.AirtelSim">
        <property name="service" ref="service"></property>
    </bean>
    <bean id = "jdbcConfig" class = "com.rish.spring.database.JdbcConfig"></bean>

</beans>